*{
    box-sizing: border-box;
    /* border:  1px solid white; */
}
li{
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}

h2{
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    inline-size: max-content;
    color: rgb(128, 128, 128);
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20,20);
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
h1{
    color: rgb(243, 243, 243);
    font-size: 2.8rem;
    font-weight: 600;
}
.quadradopaineisparaentrar{
    height: 175px;
    width: 136px;
    margin-left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quadradopaineisparaentrar2{
    height: 136px;
    width: 136px;
    background-color: pink;
}
.quadradopaineisparaentrar2 img{
    height: 100%;
}
.icones{
    display: flex;
}
.areadonome{
    padding: 15px;
}
.buttonPerfil{
    margin-top: 70px;
}
.buttongerencia{
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #e5e5e5;
}
.quadradopaineisparaentrar:hover .quadradopaineisparaentrar2{
    border: 2px solid rgb(254,254,254); 
}
.quadradopaineisparaentrar:hover h2{
    color: #fff;
}
.buttongerencia:hover{
    border: 1px solid rgb(254,254,254); 
    color: rgb(254,254,254);
}
.buttongerencia:hover h2{
    color: rgb(254,254,254);
}